doctype html
html(lang="en")
  head
    title An introduction to webpack
    style.
      .line {
        display: block
      }
      .line.focus {
        background: #555;
      }
      .reveal .slides section .fragment.current-only {
        opacity: 1;
        visibility: visible;
        display: none;
      }
      .reveal .slides section .fragment.current-only.current-fragment {
        display: block;
      }
      .reveal section img {
        border: none !important;
      }
      p.horizontal-flex {
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
  body
    .reveal
      .slides
        section
          h2 An introduction to
          p
            img(src=require("./assets/wp-logo-text.png"))
          p
            i by Fabian Ihl
        section
          section
            h2 What is webpack not?
            p.fragment Webpack is NOT a task runner
            p.fragment.horizontal-flex
              img(src=require("./assets/wp-logo.png"))
              b(style="font-size: 3em") &ne;
              img(src=require("./assets/gulp-grunt.png"))
            p.fragment Will it replace my task runner?
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            p Maybe...
            p.fragment: i.fa.fa-arrow-right.fa-3x
        section
          section
            h2 What is webpack?
            blockquote.fragment "webpack is a module bundler."
            blockquote.fragment "webpack takes modules with dependencies and generates static assets representing those modules."
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            img(src=require("./assets/what-is-webpack.png"))
            i (webpack.github.io)
          section
            p It will resolve any kind of dependency ...
            ul
              li.fragment Scripts
              li.fragment Templates
              li.fragment Stylesheets
              li.fragment Assets
              li.fragment Fonts
              li.fragment ...
            p.fragment and bundle them into a final build
          section
            p It will transpile / process
            ul
              li.fragment TypeScript
              li.fragment CoffeeScript
              li.fragment ES6
              li.fragment Less
              li.fragment Sass
              li.fragment Stylus
              li.fragment Pug (fka. Jade)
              li.fragment ...
          section
            p And do a lot more ...
            p.fragment: i.fa.fa-arrow-right.fa-3x
        section
          h2 Wait!
          p.fragment What is a module?
          p.fragment How do I declare dependencies?
        section
          section
            h3 A short detour about
            h2 CommonJS
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            p CommonJS is one of the supported module formats.
            p.fragment (Others are AMD and ES6 Modules)
          section
            h3 Referencing a module
            pre.fragment
              code.javascript.
                var SomeModule = require('./SomeModule.js');
                SomeModule.doAwesomeStuff();

            p.fragment.current-only(data-code-focus="1") "require" the module
            p.fragment.current-only(data-code-focus="2") Use it
          section
            h3 Defining a module
            i (MyModule.js)
            pre.fragment
              code.javascript.
                module.exports = {
                  doAwesomeStuff: function() {...}
                }
          section
            h3 limiting access
            i (MyModule.js)
            pre.fragment
              code.javascript.
                function somePrivateMethod() {...}

                function doAwesomeStuff() {...}

                module.exports =  {
                  doAwesomeStuff: doAwesomeStuff
                }

            p.fragment.current-only(data-code-focus="1") not exported
            p.fragment.current-only(data-code-focus="3-7") exported
          section
            h3 Use closures and be strict!
            i (MyModule.js)
            pre.fragment
              code.javascript.
                (function() {
                  'use strict';

                  module.exports = {
                    doAwesomeStuff: function() {...}
                  }

                })();
          section
            p: i.fa.fa-arrow-right.fa-3x
        section
          section
            h2 Require other stuff
            h4 in javascript files
            pre.fragment
              code.
                var data = require('someData.json');
            p.fragment Will load the json data and convert them to an object.
            pre.fragment
              code.
                var template = require('template.html');
            p.fragment Will return the template as strig or template funtion
            pre.fragment
              code.
                require('prettyStyles.css');
            p.fragment
              = 'Will inject the css as style block into the <head> section'
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            p Such files will usualy be bundled into the corresponding js bundle saving additional http requests.
          section
            h4 Require in css files
            pre.fragment
              code.css.
                .button-delete {
                  backgroundimage: url('./assets/deleteIcon.png');

                }
            p.fragment Will...
              ul
                li.fragment Discover the png file
                li.fragment Copy it into the dist folder using a hash as name
                li.fragment Replace the url() with the calculated hash
          section
            h4 The same works in templates
            pre.fragment
              code
                = '<img src=require("./assets/someImage.png")/>'
          section
            p: i.fa.fa-arrow-right.fa-3x
        section
          h2 Minimal configuration
          i (webpack.config.js)
          pre.fragment
            code.javascript.
              module.exports = {
                entry: './src/entry.js',
                output: {
                  path: './build/',
                  filename: '[name]-[hash].js'
                }
              };
          p.fragment.current-only(data-code-focus="1") (Yes, it's a module, too)
          p.fragment.current-only(data-code-focus="2") Your main script file as entry point.
          p.fragment.current-only(data-code-focus="3-6") Output config
          p.fragment.current-only(data-code-focus="4") Output folder
          p.fragment.current-only(data-code-focus="5") Name of your final js bundle, with cache busting enabled
        section
          h2 Handling non js files using loaders
          pre.fragment
            code.javascript.
              module.exports = {
                entry: './src/entry.js',
                output: {
                  path: './build/',
                  filename: '[name]-[hash].js'
                },
                module: {
                  loaders: [
                    {test: /\.(jpe?g|png|gif|svg)$/i, loader:'file'},
                    {test: /\.css$/, loader: 'style!css'},
                  ]
                }
              };
          p.fragment.current-only(data-code-focus="7-12") Loaders are defined in the module section, they tell webpack how to recognize and handle files.
          p.fragment.current-only(data-code-focus="9") Handling assets using the file-loader.
          p.fragment.current-only(data-code-focus="10") Loaders can be used as pipes.
          p.fragment There are loaders for almost everything out there.
